{% extends "base.html" %}

{% block title %}
    Edit Product Area | Customer Feedback Intelligence
{% endblock %}

{% block content %}

<h1>Edit Product Area</h1>

<div class="card">

    <form method="POST">

        <label for="name">Product Area Name</label><br>

        <input
            type="text"
            id="name"
            name="name"
            value="{{ area.name }}"
            required
        >

        <br><br>

        <label for="description">Description</label><br>

        <textarea
            id="description"
            name="description"
            rows="4"
            cols="70"
            required>{{ area.description }}</textarea>

        <br><br>

        <label for="core_functionality">
            Core Functionality
        </label><br>

        <textarea
            id="core_functionality"
            name="core_functionality"
            rows="4"
            cols="70"
            required>{{ area.core_functionality }}</textarea>

        <br><br>

        <button type="submit">
            Save Changes
        </button>

        <a href="{{ url_for('product_areas') }}">
            Cancel
        </a>

    </form>

</div>

{% endblock %}